.pageTitle {
    font-size: 2em;
    margin: 0;
    padding: 0;
    width:fit-content;
    color: var(--col-text);
    font-family: monospace;
    text-wrap:nowrap;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 2000;
}

@media(max-width: 768px) {
    .pageTitle {
        font-size: 2em;
        margin-top: 2em;
        padding: 0;
        text-align: center;
        width: 100%;
        position: relative;
    }
}