.pageTitle {
    font-size: 5em;
    padding: 20px 40px;
    width:fit-content;
    color: var(--col-text);
    font-family: monospace;
    text-wrap:nowrap;
}

@media(max-width: 768px) {
    .pageTitle {
        font-size: 1.6em;
        margin-top: 2em;
        text-align: center;
    }
}