.footer {
  border-top: 1px solid #eee;
  margin-top: 64px;
  padding: 24px;
  display: flex;
  justify-items: center;
}

.text {
  margin: 0;
  font-size: 0.95rem;
  opacity: 0.8;
  text-align: center;
}