.nav {
    display: flex;
    gap: 40px;
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    opacity: 0.7;
}

.pageTitle {
    font-size: 48px;
    padding: 20px 40px;
}