.header {
    max-width:100%;
}

.nav {
    display: flex;
    gap: 3em;
    padding: 20px 40px;
    border-bottom: 1px solid var(--col-border);
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: var(--col-bg);
    top:0;
    flex-wrap: wrap;
}

.nav > * {
    color: var(--col-text);
}

.link {
    text-decoration: none;
    color: var(--col-text);
}

.link:hover {
    opacity: 0.7;
}

@media(max-width: 768px) {
    .nav {
        gap: 2em;
    }
}