.layout {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.layoutReverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 6em;
  align-items: center;
}

.imageWrap {
  flex: 1;
}

.image {
  width: 30em;
  height: 30em;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.text {
  flex: 1;
  color: var(--col-text);
  padding: 0 3em 0 2em;
}

.heading {
  margin: 0 0 16px;
  font-size:3em;
}

.body {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1.2em;
  color: var(--col-text);
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--col-border);
  border-radius: 8px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .layout,
  .layoutReverse {
    flex-direction: column;
  }

  .image {
    width: 20em;
    height: 20em;
  }

  .heading {
    font-size:2em;
  }

  .body {
    font-size: 1em;
  }

}

@media (prefers-color-scheme: light) {
  .image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
}